body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('https://th.bing.com/th/id/OIP.QBhhgZVdo5A2fTsi-w77RgHaEK?w=321&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
  background-repeat: no-repeat;
  background-size: 1500px;
}
.text{
  size: 40%;
  color:#460a0ba0
}
.box1{
  height: 500px;
  width: 600px;
  background-color: #331d20bb;
  opacity: 10px;
  margin-left: -100px;
  border-radius: 1%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login,
.register {
  width: 400px;
}

.login h2,
.register h2 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.login a {
  text-align: center;
}
.table{
  border-color: black;
  border-style:calc();
  background-color: #c63642ca;
}
input[type='text'] {
  background-color: #e6e6e6;
  color: #420110e7;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  padding: 20px 30px;
}

input[type='number'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #460810e2;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
}

button[type='submit'] {
  padding: 15px 0px;
  background-color: #830e2b;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #830e2b;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}


.check {
  font-size: 16px;
}
